* {
  margin: 0;
}

header {
  position: fixed;
  width: 95%;
  height: 48px;
  padding: 0 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header .btn {
  background: none;
  border: 0;
}

header .header--menu-main {
  height: 80%;
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header--title {
  font-size: 20px;
  font-family: Roboto;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1;
}

header .header--menu-other {
  height: 80%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-block .main-block--paint {
  width: 16%;
  max-width: 300px;
  padding-top: 40px;
}

main .main-block .main-block--paint .menu-interactive {
  margin-top: 90px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

main .main-block .main-block--paint .menu-interactive .btn-paint-menu {
  height: 48px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .main-block .main-block--paint .menu-interactive .btn-paint-menu:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.541327);
}

main .main-block .main-block--paint .menu-interactive .btn-paint-menu img, main .main-block .main-block--paint .menu-interactive .btn-paint-menu .circle-color {
  height: 20px;
  width: 20px;
  margin-right: 35px;
  margin-left: 20px;
}

main .main-block .main-block--paint .menu-interactive .btn-paint-menu p {
  font-family: Roboto;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.541327);
}

main .main-block .main-block--paint .menu-interactive .btn-paint-menu .circle-color {
  border: 1px solid #000;
  border-radius: 50%;
}

main .main-block .main-block--paint .menu-interactive hr {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.12);
  border: 0;
}

main .main-block .main-block--paint .menu-interactive.paint--color .circle-color {
  margin-right: 20px;
}

main .main-block .main-block--paint .menu-interactive.paint--color .prev--circle-current {
  background: #C4C4C4;
}

main .main-block .main-block--paint .menu-interactive.paint--color .prev--circle-prev {
  background: #41F795;
}

main .main-block .main-block--paint .menu-interactive.paint--color .red--circle-red {
  background: #F74141;
}

main .main-block .main-block--paint .menu-interactive.paint--color .blue--circle-blue {
  background: #41B6F7;
}

main .main-block .main-block--canvas canvas#canvas {
  height: 512px;
  width: 512px;
}

main .main-block .main-block--choose {
  background: #fff;
  margin-right: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

main .main-block .main-block--choose .choose--title {
  font-family: Roboto;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.541327);
  text-align: center;
}

main .main-block .main-block--choose ul {
  padding: 0;
}

main .main-block .main-block--choose ul .choose--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 5px 50px;
  height: 25px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.541327);
  font-family: Roboto;
}

main .main-block .main-block--choose ul .choose--item:hover {
  background: rgba(179, 177, 177, 0.541327);
}

main .main-block .main-block--choose ul .choose--item.active {
  color: #fff;
  background: rgba(0, 0, 0, 0.541327);
}
/*# sourceMappingURL=style.css.map */